<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post">
    	Title: <input type="text" name="title" />
		Body: <input type="text" name="body" />
		<input type="submit" value="Post">
    </form>
  </body>
</html>